@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Everyone</title>
	<body>
		<div class="title">
			<h1 class="h1">Everyone</h1>
			<p>Everyone can see this</p>
		</div>
	</body>
	</head>
	</html>