
@{
	Layout = "_Layout";
}


<div class="title">
    <h1 class="h1">Login Page</h1>
    <form method="post" action="/Home/Login">
        <div class="input-group">
            <button type="submit">Login</button>
        </div>
    </form>
</div>

