@{
    Layout = "_Layout";
}

<div class="title">
    <h1 class="h1">Privat Page - Authorized Users Only</h1>
    <p>Welcome to the private section of the website. Only authorized users can access this page.</p>
</div>

<form asp-action="Logout" asp-controller="Home" method="post">
    <button type="submit">Logout</button>
</form>

<style>
    button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }
</style>
