
@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Privat Page</title>
	<body>
		<div class="title">
			<h1 class="h1">Privat Page - Authorized Users Only</h1>
			<p>Welcome to the private section of the website. Only authorized users can access this page.</p>
		</div>
	</body>
	</head>
	</html>
